<html>
  <head>
    <title>tref</title>
    <!--div class="row">
      <img alt='Temenos T24' src='logo.jpg'/>
    </div-->
    <style>
    #ref-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }
    #ref-table td, #ref-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    #ref-table tr:nth-child(even){background-color: #f2f2f2;}
    #ref-table tr:hover {background-color: #ddd;}
    #ref-table th {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
        background-color: black;
        color: white;
    }
    </style>
  </head>
  <body>
