<% include partials/header %>
  <h2><%= title %></h2>
  <form id="form-country_v1" name="form-country_v1">    
    <div id="the-basics">
      <input class="typeahead" type="text" placeholder="States of USA">
    </div>
</div>
</form>
<% include partials/footer %>
